<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angularjs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    
    <input type="text" ng-model="in">
    <p ng-bind="in"></p>
    <h1>Hello {{x}}</h1>

    <input type="text" placeholder="Enter Amount " ng-model="amount">
    <h3>{{amount | currency}}</h3>
    <h3>{{amount*114 | currency:"Nrs "}}</h3>
    <h3>{{amount*0.8 | currency:"&pound;"}}</h3>

    <h4>{{today | date}}</h4>

    

    <script>
        var app = angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
            $scope.in = "apple";
            $scope.x = 9;
            $scope.today = new Date();
        })
    
    </script>
</body>
</html>

